@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Roboto+Mono:wght@200;300;500&display=swap');


/*Perso*/
.display-none{
    display: none;
}
.couleur-rouge{
    color: red;
}

h1{
    font-family: 'Big Shoulders Stencil Text', cursive;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    color: #6C6C6C;
}


h2{
    font-family: 'Big Shoulders Stencil Text', cursive;
    margin-top: 15px;
    margin-bottom: 30px;    
    color: #898989;
}
p{
    font-family: 'Roboto Mono', monospace;
}

.custom-select{
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid  rgba(228,228,228,1);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%, rgba(0,212,255,1) 100%);
  z-index: 10;

}
  
  
  select{
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #714BB9;

  }
    
  
  select:after{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: '\2228';
    text-align: center;
    color: #714BB9;
    font-size: 24px;
    border-left: 1px solid #3C1C78;
    z-index: -1;

  }
    

  .custom-input{
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 180px;
    margin: 30px auto 0 auto;
    border: 1px solid  rgba(228,228,228,1);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%, rgba(0,212,255,1) 100%);
    z-index: 10;
  }
  


.btn-agent{
    position: relative;
    display: block;
    width:85px;
    height:85px;
    margin: 25px auto;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%, rgba(0,212,255,1) 100%);
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50% !important;
	color:#555;
}
.btn-agent:hover{
    transition-duration: 2s;   
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%, rgba(0,212,255,1) 100%);
	color:#555;
}

.btn-agent-102{
    width: 102px;
    height: 102px;
}


ul{
    list-style: none;
}
.background-color-blanc{
    background-color: white;
    border: 1px solid black;
    padding: 50px;
}

.a-animation{
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
    color: #000;
    text-decoration: underline;
}
.a-animation:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    color: #000;
    text-decoration: none;
  }
  .message-login,
  .champ-vide{
    color: red;
}
/*Menu*/

#menu{
    background-color: #010101;
}
#menu #logo{
    width: 45%;

}

.navbar-light .navbar-nav .nav-link {
    color:white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:yellow !important;
}

.margin-top-bot{
    margin-top: auto;
    margin-bottom: auto;
}
.margin-left-right{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-toggler {
    color: white !important;
    border-color: yellow !important;
}

/*Footer*/

footer{
    height: 30vh;
    background-color: #010101;
    color: white
}
footer #logo{
    width: 95%;
}
footer li a {
    color: white;
}
footer li a:hover {
    color: yellow;
}

@media (max-width: 576px){
    footer{
        height: auto;
    }
    footer p{
        margin-bottom: 0px;
    }
}


/*Accueil*/
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%, rgba(0,212,255,1) 100%);
}

#presentation-projet-agents{
    padding-bottom: 100px;
}

.menu-photo-agent .container-agent img{
    width: 50%;
    z-index: 9;
}

.menu-photo-agent .container-agent #img-prochainement{
    margin-top: 10px;
}

.menu-photo-agent .container-agent #img-enregistrement{
    margin-top: -15px;
}




@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: initial !important; 
   }
    .navbar-expand-md .navbar-nav .dropdown-menu a {
        color: black; 
    }
    .navbar-expand-md .navbar-nav .dropdown-menu a:hover {
        color: #A33246; 
    }
}



#nouveau-projet{
    margin-top: 100px;
    padding-bottom: 100px;
}

#nouveau-projet img{
    width: 100%;
}
/*Profile*/
#profile a{
   color: black;
}
#supprimer-compte{
    position: absolute;
    top: 278px;
    left: 0;
    right: 0;
}

/*Animation glitch*/

#container{
    position: absolute;
    margin-left: 81px;
    width: 63%;
    height: 100%;
    background: url(../img/enregistrement.png);  
    overflow: hidden;  
}

.box{
    position: absolute;    
    background: url(../img/enregistrement.png);    
    background-attachment: fixed;   
     
}

/*administration*/
#administration a{
    color: yellowgreen;

}
#administration a:hover{
    color: black;
    text-decoration:none; 

}
#administration #supprimer-mission{
    position: absolute;
    top: 278px;
    left: 0;
    right: 0;
}

.nouvelle-mission .image-mission{

    margin-top: 50px;
    margin-bottom: 25px;
   
}

#mauvaise-page-mission a{    
    color: yellowgreen;
    font-size: 18px;

}

.formulaire-de-mission input,
.formulaire-de-mission textarea{
    width: 100%;
}

#ajout-mission #submit{
    margin-top: 40px;
    margin-bottom: 100px;
}


td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 5%; 
	}
	
	td:before { 		
		position: absolute;		
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	

}