
ul{
    list-style: none;
}
.background-color-blanc{
    background-color: white;
    border: 1px solid black;
    padding: 50px;
}
/*Menu*/

#menu{
    background-color: #010101;
}
#menu #logo{
    width: 45%;

}

.navbar-light .navbar-nav .nav-link {
    color:white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:yellow !important;
}

.margin-top-bot{
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-light .navbar-toggler {
    color: white !important;
    border-color: yellow !important;
}

/*Footer*/

footer{
    height: 30vh;
    background-color: #010101;
    color: white
}
footer #logo{
    width: 95%;
}
footer li a {
    color: white;
}
footer li a:hover {
    color: yellow;
}

@media (max-width: 576px){
    footer{
        height: auto;
    }
    footer p{
        margin-bottom: 0px;
    }
}


/*Accueil*/
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%, rgba(0,212,255,1) 100%);
}

#presentation-projet-agents{
    padding-bottom: 100px;
}

.menu-photo-agent .container-agent img{
    width: 50%;
    z-index: 9;
}

.menu-photo-agent .container-agent #img-prochainement{
    margin-top: 10px;
}

.menu-photo-agent .container-agent #img-enregistrement{
    margin-top: -15px;
}




@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: initial !important; 
   }
    .navbar-expand-md .navbar-nav .dropdown-menu a {
        color: black; 
    }
    .navbar-expand-md .navbar-nav .dropdown-menu a:hover {
        color: #A33246; 
    }
}



#nouveau-projet{
    margin-top: 100px;
    padding-bottom: 100px;
}

#nouveau-projet img{
    width: 100%;
}